/* Foundation overrides */
.fluid-row {
  max-width: 100% !important;
}
button,
.button {
  margin: 0 0 0.25rem;
}

/* Main Navigation */
.top-bar {
  margin-bottom: 10px;
}

/* Footer */
.footer {
  background-color: rgb(51, 51, 51);
  background-color: rgba(51, 51, 51, 0.31);
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
  margin-top: .7rem;
}
.footer span {
  font-size: 14px;
  padding: 10px;
  display: block;
}

/* Home */
.home-icons {
  font-size: 50px;
}

/* forms validation */
span.error,
small.error {
  margin-top: -16px;
}

/* Settings Help Text */
.help-text {
  margin-top: -15px;
}
